html, body {
    width: 100%;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

body {
    background-color: #ccdce3;
    color: #4d4f5f;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

header {
   width: 100%;
   background-color: #5d74a8;
   color:#ffffff;
   padding-bottom: 20px;
}

main {
    height: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding-bottom: 10px;
}

ul {
    margin: 0 auto; 
    text-align: left; 
    width: 80%;
}

footer {
    color: white;
    background-color: #4f5d71;
    width: 100vw;
    text-align: center;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #f1faff;
}


footer a {
    color: #45a8c4;
}
