body {
    background-color: antiquewhite;
    color: brown;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

header, main, footer{ 
    width: 95%;
}

#information {
    margin: 0 20% 0 20%;
    text-align: left;
}

main {
    height: 80%;
}
footer {
    color: white;
    background-color: brown;
    width: 100%;
    margin: 0;
    padding: 0;
}

footer a {
    color: #45a8c4;
}