<p>Useful links</p>
<nav>
    <a href = "../index.html">Personal Page</a> 
    <a href = "https://github.com/UzielDC1/UzielDC1.github.io/">Github</a> 
    <a href="https://uzieldc1.github.io/">Github.io</a>
    <p><em>Page built by <a href="desideriobuild.com/index.html">DesiderioBuilds</a>&copy;2024</em></p>
    <a href="https://www.freecodecamp.org/certification/uzieldc/responsive-web-design" target="_blank">Certified in Responsive Web Design</a>
    <a href="https://www.freecodecamp.org/certification/uzieldc/javascript-algorithms-and-data-structures-v8" target="_blank">Certified in JS</a>
</nav>