<nav>
    <h1>Uziel Desiderio's Unforgiving Dullahan || ITIS 3135</h1>
    <a href="index.html">Home</a> 🎃
    <a href="introduction.html">Introduction</a> 🎃
    <a href="contract.html">Contract</a> 🎃
    <a href="about.html">Company Page</a> 🎃
    <a href="website_evaluations.html">Website Evaluations</a> 🎃
    <a href="firstscripts.html">First Scripts</a> 🎃
    <a href="drawing.html">Drawing</a>
</nav>
<nav>
    <a href="stuffmeansnothing/AWEsome WEBsite$$.htm">Best website ever</a>
    <a href="tables.html">Tables</a> 🎃
    <a href="forms.html">Form</a> 🎃
    <a href="project/index.html">Client Project</a> 🎃
    <a href="byo_intro.html">BYO</a> 🎃
    <a href="hobby/index.html">Hobby Site</a>
</nav>
<p><em>Where Horror Comes Alive, One Creation at a Time</em></p>